In [57]:
import pandas as pd
import numpy as np
import datetime
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [58]:
delhi_weather=pd.read_csv('/home/neo/Desktop/delhi_weather/testset.csv')

In [59]:
delhi_weather.tail()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [60]:
delhi_weather.shape

(100990, 20)

In [61]:
missing_cols=list([cols for cols in delhi_weather.columns
                   if delhi_weather[cols].isnull().any()])

In [62]:
print(missing_cols)

[' _conds', ' _dewptm', ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _tempm', ' _vism', ' _wdird', ' _wdire', ' _wgustm', ' _windchillm', ' _wspdm']

In [63]:
delhi_weather.dtypes

datetime_utc     object
 _conds          object
 _dewptm        float64
 _fog             int64
 _hail            int64
 _heatindexm    float64
 _hum           float64
 _precipm       float64
 _pressurem     float64
 _rain            int64
 _snow            int64
 _tempm         float64
 _thunder         int64
 _tornado         int64
 _vism          float64
 _wdird         float64
 _wdire          object
 _wgustm        float64
 _windchillm    float64
 _wspdm         float64
dtype: object

In [64]:
pd.to_datetime(delhi_weather.datetime_utc)

0        1996-11-01 11:00:00
1        1996-11-01 12:00:00
2        1996-11-01 13:00:00
3        1996-11-01 14:00:00
4        1996-11-01 16:00:00
                 ...
100985   2017-04-24 06:00:00
100986   2017-04-24 09:00:00
100987   2017-04-24 12:00:00
100988   2017-04-24 15:00:00
100989   2017-04-24 18:00:00
Name: datetime_utc, Length: 100990, dtype: datetime64[ns]

In [65]:
pd.DatetimeIndex(delhi_weather['datetime_utc']).year

Int64Index([1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996, 1996,
            ...
            2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017, 2017],
           dtype='int64', name='datetime_utc', length=100990)

In [66]:
delhi_weather.rename(columns={'datetime_utc':'year',' _rain':'rain'},inplace = True)

In [67]:
delhi_weather.columns

Index(['year', ' _conds', ' _dewptm', ' _fog', ' _hail', ' _heatindexm',
       ' _hum', ' _precipm', ' _pressurem', 'rain', ' _snow', ' _tempm',
       ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire', ' _wgustm',
       ' _windchillm', ' _wspdm'],
      dtype='object')

In [68]:
year_rain_df=delhi_weather[['year','rain']]

In [69]:
year_rain_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100990 entries, 0 to 100989
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   year    100990 non-null  object
 1   rain    100990 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.5+ MB

In [70]:
year_rain_df.year=pd.DatetimeIndex(year_rain_df['year']).year

/home/neo/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [71]:
year_rain_df.tail()

        year  rain
100985  2017     0
100986  2017     0
100987  2017     0
100988  2017     0
100989  2017     0

In [82]:
rain_2017=year_rain_df.loc[year_rain_df['year'] == 2017]

        year  rain
99570   2017     0
99571   2017     0
99572   2017     0
99573   2017     0
99574   2017     0
...      ...   ...
100985  2017     0
100986  2017     0
100987  2017     0
100988  2017     0
100989  2017     0

[1420 rows x 2 columns]